html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}

.content {
  min-height: 100%;
  position: relative;
  overflow: auto;
  z-index: 0; 
  padding: 5px;
  
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.top_block {
  width: 100%;
  display: block; 
  padding-bottom: 5px;
}

.bottom_block {
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0; 
}

.left_block {
  display: block;
  float: left; 
  border-style:solid;
  border-width:1px;
  padding:2px;
}

.right_block {
  display: block;
  float: right; 
}

.center_block {
  display: block;
  width: auto; 
}

.header {
  width: 100%;
  height: 70px;
  border-style:solid;
  border-width:1px;
  /*background-color: #72b5e8; */
}

.background.region {
  height: auto !important;
  padding-bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #f0f0f0; */
  margin-top: 70px; 
}

.region {
  width: auto;
  height: auto;
  padding-bottom: 5px;
}

.background.menu {
  height: auto !important;
  padding-bottom: 0;
  left: 0;
  width: 140px;
 /* background-color: #74bbf2; */
}

.menu {
  height: auto;
  width: 220px;
  padding-bottom: 0px;
}


