<?xml version="1.0" encoding="UTF-8"?>


<configuration debug="false">
  <!--all logs-->
  <appender name="A1" class="ch.qos.logback.core.FileAppender">
    <Append>true</Append>
    <File>englink-log4j.log</File>
    <encoder>
      <pattern>%-5p %d [%t] %C{1} - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <!-- stdout -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
  </filter>
    <encoder>
      <pattern>%-5p %d [%t] %C{1} - %m%n</pattern>
    </encoder>
  </appender>

  <!-- stderr -->
  <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%-5p %d [%t] %C{1} - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <!-- root -->
  <logger name="edu" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="A1"/>
    <appender-ref ref="stdout"/>
    <appender-ref ref="stderr"/>
  </root>

</configuration>