# Deployment configuration
[deployment]
path = /disk2/dhalperi
name = testMyriadeploy
# Uncomment if need to set a specific username; does not work for localhost
#username = dhalperi
# Uncomment to set the maximum heap size of the Java processes
#max_heap_size=-Xmx2g
rest_port = 8753

# Compute nodes configuration
[master]
orlando.cs.washington.edu,9001

[workers]
berlin.cs.washington.edu,9002
dallas.cs.washington.edu,9002
seoul.cs.washington.edu,9002
newyork.cs.washington.edu,9002
