# Deployment configuration
[deployment]
path = /disk1/myria
name = testMyriadeploy
rest_port = 8753
# Uncomment if need to set a specific username; does not work for localhost
#username = dhalperi
# Uncomment if want to launch workers in debug mode
#debug_mode = true
# Uncomment if want to set admin password
#admin_password = apple

# Compute nodes configuration
[master]
0 = vega.cs.washington.edu:8001

[workers]
# line syntax:
#
# workerID = host:port:workingDir:databaseName
#
# if workingDir is empty, use the path in [deployment].
# if databaseName is empty, use the database_name in [deployment].
1 = aldebaran.cs.washington.edu:9001::worker_1_db     # use default path (path in deployment)
2 = aldebaran.cs.washington.edu:9002:/disk2/myria:worker_2_db
3 = aldebaran.cs.washington.edu:9003:/disk3/myria:    # use default db_name (database_name in deployment)
4 = aldebaran.cs.washington.edu:9004:/disk4/myria     # use default db_name
5 = altair.cs.washington.edu:9001                     # use default path and db_name
6 = altair.cs.washington.edu:9002:/disk2/myria        # use default db_name
7 = altair.cs.washington.edu:9003:/disk3/myria        # use default db_name
8 = altair.cs.washington.edu:9004:/disk4/myria        # use default db_name

[runtime]
# Uncomment to set the minimum heap size of the worker processes
#min_heap_size.gb = 1
# Uncomment to set the maximum heap size of the worker processes
#max_heap_size.gb = 2
